# Exploratory Analysis of Violence Against Women and Girls (VAWG) Dataset
In this notebook I provide a basic quantitative and semantic analysis of the Violence Against Women and Girls dataset, as well as support these analyses with some simple data visualization.

___
## Introduction

### About the dataset
- Collected as part of the [Demographic and Health Surveys](https://dhsprogram.com/methodology/Survey-Types/DHS.cfm) (DHS) program.

### What is in this dataset?
| Column Name | Description | dtype |
|---|---|---|
|RecordID|---|---|
|Country|---|---|
|Gender|---|---|
|Demographics Question|---|---|
|Demographics Response|---|---|
|Question|---|---|
|Survey Year|---|---|
|Value|---|---|

___
### Loading the dataset and analysis of raw data

In [1]:
import altair as alt
import pandas as pd
import numpy as np

In [2]:
raw_data = pd.read_csv('data/violence_data.csv')

raw_data.info()
raw_data.describe(include='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12600 entries, 0 to 12599
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   RecordID               12600 non-null  int64
 1   Country                12600 non-null  object
 2   Gender                 12600 non-null  object
 3   Demographics Question  12600 non-null  object
 4   Demographics Response  12600 non-null  object
 5   Question               12600 non-null  object
 6   Survey Year            12600 non-null  object
 7   Value                  11187 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 787.6+ KB

,Country,Gender,Demographics Question,Demographics Response,Question,Survey Year
count,12600,12600,12600,12600,12600,12600
unique,70,2,5,15,6,18
top,Afghanistan,F,Education,Never married,... if she burns the food,01/01/2013
freq,180,6300,3360,840,2100,1980